<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/lib/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/css/globalStyles.css">
    <link rel="stylesheet" href="/css/loginStyles.css">
</head>

<body>
    <header>
        <!-- navigation -->
        <%- include partials/navigation.ejs %>
    </header>
    <main>
        <center>
            <div class="section"></div>
            <h5 class="blue-grey-text text-darken-4">Feature Idea</h5>
            <p>If your feature is adopted, I will give credit to the person that submitted it, as well as a shoutout on the homepage</p>
            <div class="section"></div>
            <div class="z-depth-1 grey lighten-4 row" style=" width: 75%; display: inline-block; padding: 32px 80px 0px 80px; border: 1px solid #EEE;">
                <form class="col s12" method="post">
                    <div class="input-field col s12">
                        <textarea id="featureIdea" class="materialize-textarea"></textarea>
                        <label for="featureIdea">Awesome Idea</label>
                    </div>
                    <center>
                        <div class='row'>
                            <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect green accent-4"'>Submit</button>
                        </div>
                    </center>
                </form>
            </div>
        </center>
        <div class="section"></div>
        <div class="section"></div>
    </main>
    <!-- footer -->
    <footer class="page-footer blue-grey darken-3">
        <%- include partials/footer.ejs %>
    </footer>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/materialize/dist/js/materialize.min.js"></script>
    <script src="/js/navigation.js"></script>
    <script src="/js/home.js"></script>
</body>

</html>
