<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/lib/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/css/globalStyles.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <header>
        <!-- navigation -->
        <%- include partials/navigation.ejs %>
    </header>
    <main>
        <h1 style="display: none;">SMITE SMITEGAME Smite Videogames MOBA</h1>
        <!-- header carousel -->
        <div class="carousel carousel-slider center" data-indicators="true">
            <div class="carousel-fixed-item center">
                <div class="container">
                    <nav class="white">
                        <div class="nav-wrapper">
                            <form>
                                <div class="input-field">
                                    <input id="search" type="search" placeholder="Search a Player" required>
                                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                    <i class="material-icons">close</i>
                                </div>
                            </form>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="carousel-item grey white-text" id="homePanel1" href="#one!">
                <h2>Welcome to SmiteStats</h2>
                <p class="white-text">Your all-in-one SMITE solution</p>
            </div>
            <div class="carousel-item amber white-text" id="homePanel2" href="#two!">
                <h2 class="green-text">Compare Players</h2>
            </div>
            <div class="carousel-item green white-text" id="homePanel3" href="#three!">
                <h2>Compare Gods</h2>
            </div>
        </div>
        <!-- twitter feed -->
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s1">
                                <img class="socialMediaIcons" src="/images/twitterIcon.png" alt="twitter icon">
                            </div>
                            <div class="col s11">
                                <span class="card-title">This is a live twitter feed from popular smite players that will update when I get connected to the twitter api</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="#">@twitterName Posted: 3/21/17 : 12:01 a.m.</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- paralax and recently compared  -->
        <div class="parallax-container">
            <div class="parallax"><img src="/images/homePara.png"></div>
            <div class="container">
                <h4 class="white-text greenShadow">Recently Compared Players</h4>
                <div class="row">
                    <div class="col s6 m3">
                        <div class="card white home-compare-card">
                            <div class="row">
                                <div class="col s5">
                                    <div class="card-image winning-card-image">
                                        <img src="/images/usericon1.png" alt="user icon">
                                    </div>
                                    <span>Truextacy</span>
                                </div>
                                <div class="col s2">
                                    <span>VS</span>
                                </div>
                                <div class="col s5">
                                    <div class="card-image losing-card-image">
                                        <img src="/images/usericon2.png" alt="user icon">
                                    </div>
                                    <span>Veltayne</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s6 m3">
                        <div class="card white home-compare-card">
                            <div class="row">
                                <div class="col s5">
                                    <div class="card-image winning-card-image">
                                        <img src="/images/usericon3.png" alt="user icon">
                                    </div>
                                    <span>Aetheraph</span>
                                </div>
                                <div class="col s2">
                                    <span>VS</span>
                                </div>
                                <div class="col s5">
                                    <div class="card-image losing-card-image">
                                        <img src="/images/usericon1.png" alt="user icon">
                                    </div>
                                    <span>Cooptown</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s6 m3">
                        <div class="card white home-compare-card">
                            <div class="row">
                                <div class="col s5">
                                    <div class="card-image winning-card-image">
                                        <img src="/images/usericon4.png" alt="user icon">
                                    </div>
                                    <span>LeeroyJenkins</span>
                                </div>
                                <div class="col s2">
                                    <span>VS</span>
                                </div>
                                <div class="col s5">
                                    <div class="card-image losing-card-image">
                                        <img src="/images/usericon2.png" alt="user icon">
                                    </div>
                                    <span>Tibsy</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s6 m3">
                        <div class="card white home-compare-card">
                            <div class="row">
                                <div class="col s5">
                                    <div class="card-image winning-card-image">
                                        <img src="/images/usericon3.png" alt="user icon">
                                    </div>
                                    <span>Truextacy</span>
                                </div>
                                <div class="col s2">
                                    <span>VS</span>
                                </div>
                                <div class="col s5">
                                    <div class="card-image losing-card-image">
                                        <img src="/images/usericon4.png" alt="user icon">
                                    </div>
                                    <span>Veltayne</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- cards -->
        <div class="container">
            <div class="row">
                <div class="col s12 m4">
                    <div class="card blue-grey darken-3">
                        <div class="card-image">
                            <img src="/images/donateGems.png" alt="donate gems">
                            <a href="/donate" class="btn-floating halfway-fab waves-effect waves-light green accent-4"><i class="material-icons">attach_money</i></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title white-text">Donate!</span>
                            <hr>
                            <p class="white-text">I do not ask for cash donations, and servers do cost money, if you feel so inclined, please leave a gem donation!</p>
                        </div>
                        <div class="card-action">
                            <a href="/donate">Donate Some Gems!</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card blue-grey darken-3">
                        <div class="card-image">
                            <img src="/images/userHome.png" alt="user home">
                            <a href="/register" class="btn-floating halfway-fab waves-effect waves-light green accent-4"><i class="material-icons">person</i></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title white-text">Register a Profile!</span>
                            <hr>
                            <p class="white-text">If you register a profile you will unlock features that other users do not have access to. I swear I won't send you annoying emails.</p>
                        </div>
                        <div class="card-action">
                            <a href="/register">Register an Account!!</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card blue-grey darken-3">
                        <div class="card-image">
                            <img src="/images/featureIdea.png" alt="feature idea">
                            <a class="btn-floating halfway-fab waves-effect waves-light green accent-4"><i class="material-icons">lightbulb_outline</i></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title white-text">Feature Idea?</span>
                            <hr>
                            <p class="white-text">I would love to hear any feature ideas you may have that perhaps smite.guru and tiermonster do not yet offer!
                        </div>
                        <div class="card-action">
                            <a href="#">Submit an Idea!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- footer -->
    <footer class="page-footer blue-grey darken-3">
        <%- include partials/footer.ejs %>
    </footer>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/materialize/dist/js/materialize.min.js"></script>
    <script src="/js/navigation.js"></script>
    <script src="/js/home.js"></script>
</body>

</html>
