<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/lib/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/css/globalStyles.css">
</head>

<body>
    <header>
        <!-- navigation -->
        <%- include partials/navigation.ejs %>
    </header>
    <main>
        <div class="container">
            <h1>Profile</h1>
            <p>This page has not been built out. The Pages that are ready for your approval Nic, are <a href="/">Home</a>, <a href="/about">About</a>, <a href="/login">Login</a>, <a href="/register">Register</a>, and <a href="/fetureIdea">Feature Idea</a></p>
        </div>
    </main>
    <!-- footer -->
    <footer class="page-footer blue-grey darken-3">
        <%- include partials/footer.ejs %>
    </footer>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/materialize/dist/js/materialize.min.js"></script>
    <script src="/js/navigation.js"></script>
    <script src="/js/home.js"></script>
</body>

</html>
