<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">SMITE-STATS</h5>
            <p class="grey-text text-lighten-4">Is an on-going project developed by Austin Truex (aka Truextacy). He does it out of the kindness of his heart, however he does accept donations <a class="green-text text-accent-4" href="/donations">here</a>.</p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Recent Patches</h5>
            <ul>
                <li><a class="green-text text-accent-4" target="_blank" href="https://www.smitegame.com/new-in-smite-hunting-season-4-4-patch-notes/">Patch Notes 4.4</a></li>
                <li><a class="green-text text-accent-4" target="_blank" href="https://www.smitegame.com/new-in-smite-valley-of-victory-4-3-patch-notes/">Patch Notes 4.3</a></li>
                <li><a class="green-text text-accent-4" target="_blank" href="https://www.smitegame.com/new-in-smite-king-of-the-kapp-4-2-pts-patch-notes/">Patch Notes 4.2</a></li>
                <li><a class="green-text text-accent-4" target="_blank" href="https://www.smitegame.com/new-in-smite-season-four-4-1-patch-notes/">Patch Notes 4.1</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright blue-grey darken-4">
    <div class="container">
        2017 SmiteStats
    </div>
</div>
