<nav class="nav-extended blue-grey darken-3">
    <div class="nav-wrapper blue-grey darken-4">
        <a href="/" class="brand-logo center">SmiteStats</a>
        <a href="#" data-activates="mobileDropDown" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/about">About</a></li>
            <li><a href="/donate">Donate</a></li>
            <li><a target="_blank" href="http://status.hirezstudios.com/">Server Status</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
        <ul right hide-on-med-and-down ">
          <li><a href="/login ">Login</a></li>
          <li><a href="/register ">Register</a></li>
        </ul>
        <ul class="side-nav " id="mobileDropDown ">
            <li><a href="/about">About</a></li>
            <li><a href="/donate">Donate</a></li>
            <li><a target="_blank" href="http://status.hirezstudios.com/">Server Status</a></li>
            <li><a href="">Profile</a></li>
        </ul>
        
    </div>
    <div class="nav-content ">
        <ul class="tabs tabs-transparent ">
        <li class="tab" id="home"><a href="/">Home</a></li>
            <li class="tab " id="playerCompare"><a  href="/playerCompare">Player Compare</a></li>
            <li class="tab " id="godCompare"><a href="/godCompare">God Compare</a></li>
            <li class="tab " id="tierLists"><a href="/tierLists">Tier Lists</a></li>
        </ul>
    </div>
</nav>
