<nav class="nav-extended blue-grey darken-3">
    <div class="nav-wrapper blue-grey darken-4">
        <a href="#" class="brand-logo center">SMITE-STATS</a>
        <a href="#" data-activates="mobileDropDown" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="">About</a></li>
            <li><a href="badges.html">Donate</a></li>
            <li><a href="badges.html">Server Status</a></li>
            <li><a href="collapsible.html">Profile</a></li>
        </ul>
        <ul right hide-on-med-and-down">
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        </ul>
        <ul class="side-nav" id="mobileDropDown">
            <li><a href="sass.html">About</a></li>
            <li><a href="badges.html">Donate</a></li>
            <li><a href="badges.html">Server Status</a></li>
            <li><a href="collapsible.html">Profile</a></li>
        </ul>
        
    </div>
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
        <li class="tab active"><a href="/">Home</a></li>
            <li class="tab"><a  href="#">Player Compare</a></li>
            <li class="tab"><a href="#">God Compare</a></li>
            <li class="tab"><a href="#">Tier Lists</a></li>
            <li class="tab"><a href="#">Patch Notes</a></li>
            <li class="tab"><a href="#">r/Smite (Reddit)</a></li>
        </ul>
    </div>
</nav>
